header, footer {
  position: absolute;
  width: 100%;
  z-index: 1;
  background-color: rgba(255,255,255,0.5);
  backdrop-filter: blur(1rem);
}


// Header
// ------

header {
  top: 0;
}

.routine {
  margin-top: 1vh;
  padding: 0.5em 0;
  font-weight: 400;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.task-title {
  margin: 0.5em 10px 0.25em;
  font-size: max(5vh, 1.25rem);
  font-weight: 500;
}

button.randomiser {
  @include chip;
  background-color: var(--background);
  border: none;
  margin: 0.25em 0 5vh;
  font-size: max(2vh, 1rem);
  box-shadow: 0 0 0 1px var(--foreground),
    2px 4px 0 0 var(--background),
    2px 4px 0 1px var(--foreground);

    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      @include chip;
      padding: 0;
      width: 100%;
      height: 100%;
      transform: rotate(3deg) translate(-5px, 6px);
      z-index: -1;
      box-shadow: 0 0 0 1px var(--foreground);
    }

  &:active {
    position: relative;
    top: 2px;
    left: 1px;
  }
}

// Footer
// ------

footer {
  bottom: 0;
  min-height: calc((100vh - 100vw)/2);
  padding: 1rem 0;
}

#next-task-button {
  @include invisible;
}

.next-title {
  font-size: max(2vh, 1rem);
  font-weight: 300;
  letter-spacing: 0.05em;
}