// Base styling
// ============

html {
  font-size: 16px;
}

body {
  font-family: var(--ff-sans);
  line-height: 1.5;
  color: var(--foreground);
  background-color: var(--background);
  font-feature-settings: "kern" 1,"liga" 1,"calt" 1,"pnum" 1,"tnum" 0,"onum" 1,"lnum" 0,"dlig" 0;
  font-kerning: normal;
  text-rendering: optimizeSpeed;
  position: relative;
  overflow-x: hidden;

  // Layout
  margin: auto;
  margin-top: clamp(1.25rem, 10vw, 10vh);
  padding: 2.5rem;
  max-width: 48rem;
}

a {
  color: var(--foreground);
    @include transit;
  &:hover {
    color: var(--accent);
  }
}

h1 {
  line-height: 1;
}
